@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="col-md-11">
<form asp-controller ="developerTasks" asp-action="MakingNotification" method ="post">
    <label>
    <button type ="submit">DeveloperTaskPage</button>
    </label>
    
</form>
</div>
<div class="col-md-12">
    
<form asp-controller ="Project" asp-action="MakingNotification" method ="post">
    <label>
    <button type ="submit">ListofTheProjects</button>
    </label>
</form>
</div>

